main {
  background-color: black;
  width: 100%;
  height: 700px;
}

#caixa {
  margin-top: 120px;
  background-image: url(../img/resiliaflixfundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#botao {
  border-top-width: 0px;
  margin-top: 25px;
  background-color: #4d194d;
  border-color: #4d194d;
  color: cornsilk;
  box-shadow: 0 0 40px 40px #4d194d inset, 0 0 0 0 #4d194d;
  transition: all 150ms ease-in-out;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 0.55em 1.5em 0.5em;
  text-transform: uppercase;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#botao:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 #680e68 inset, 0 0 10px 4px #180118;
  background: transparent;
}

#botao:active,
#botao:focus {
  background: transparent;
  outline: 0;
}

#botao:active {
  background: #412141;
}

#btnLink {
  color: white;
}

body {
  background-color: #0e1b2b;
  width: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0e1b2b #171717;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #171717;
}

*::-webkit-scrollbar-thumb {
  background-color: #0e1b2b;
  border-radius: 10px;
  border: 1px outset #ffffff;
}

main::after {
  content: "";
  width: 100%;
  height: 2%;
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0000 100%);
  position: absolute;
  left: 0;
  z-index: 1;
  top: calc(700px - 350px);
}

.btn-outline-success:hover {
  background-color: #212f45;
}

.btn-custom-round {
  padding: 5px 9px !important;
}

.list-content {
  margin-top: 5%;
}

.filme_lista {
  overflow-x: scroll;
  list-style: none;
  white-space: nowrap;
  padding: 20px 0;
  display: block;
  border: 1px solid transparent;
}

.img-fluid {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 300px;
}

.filme {
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  overflow: auto;
  border: 1px solid transparent;
  background-size: cover;
}

.filme:hover {
  transform: scale(1.15);
  z-index: 999;
  transition: 0.5s;
}

.filme:hover .filme_info {
  transform: scale(1);
  transition: 0.5s;
}

.filme:first-child {
  margin-left: 70px;
}

.col-12 {
  text-align: center;
}

.filme_info {
  background-color: #171717;
  padding: 10px;
  height: 80px;
  width: 100%;
  transform: scale(0);
}

.filme_info .col-12 {
  margin-top: 5px;
}

.filme_info .col12:first-child {
  margin-bottom: 20px;
}

.filme_info p {
  color: #7e7b7b;
  font-size: 12px;
}

section {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
}

section:hover {
  z-index: 9;
}

#infoOmdb {
  display: flex;
  flex-direction: row;
}

#titulo {
  text-align: center;
  margin-bottom: 8%;
}

#infoContainer {
  color: #ffffff;
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.767));
  margin-bottom: 20px;
  margin-top: 20px;
}

#poster {
  margin-top: 20px;
  margin-bottom: 20px;
}

#diretor,
#ano,
#duracao,
#genero,
#sinopse {
  margin-left: 3%;
}

#btnPesquisa {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#botao {
  border-top-width: 0px;
  background-color: #4d194d;
  border-color: #4d194d;
  color: cornsilk;
  box-shadow: 0 0 40px 40px #4d194d inset, 0 0 0 0 #4d194d;
  transition: all 150ms ease-in-out;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 0.55em 1.5em 0.5em;
  text-transform: uppercase;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#tirar {
  text-decoration: none;
}

#botao:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 #680e68 inset, 0 0 10px 4px #180118;
  background: transparent;
}

#botao:active,
#botao:focus {
  background: transparent;
  outline: 0;
}

#botao:active {
  background: #412141;
}

#btnLink {
  color: white;
}

@media (max-width: 960px) {
  #infoOmdb {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  #poster {
    margin-left: 9%;
  }

  #infoContainer {
    background: transparent;
  }
}
