.btn-outline-success:hover {
    background-color: #212f45;
}

body, html{
    background-color: black;
    width: 100%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #0e1b2b #171717;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #171717;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0e1b2b;
    border-radius: 10px;
    border: 1px outset #ffffff;
  }

header{
    width: 100%;
}

main::after{
    content:"";
    width: 100%;
    height: 2%;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0000 100%);
    position: absolute;
    left: 0;
    z-index: 1;
    top: calc(700px - 350px);
}

.btn-custom-round{
    padding: 5px 9px !important;
}

.main-content{
    margin-top: 5%;
}

.filme_lista{
    overflow-x: scroll;
    list-style: none;
    white-space: nowrap;
    padding: 20px 0;
    display: block;
    border: 1px solid transparent;
}

.filme{
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    overflow: auto;
    border: 1px solid transparent; 
    background-size: cover;
}

.filme:hover{
    transform: scale(1.15);
    z-index:999;
    transition: 0.5s;
}

.filme:hover .filme_info{
    transform: scale(1);
    transition: 0.5s;
}


.filme:first-child{
    margin-left: 70px;
}

.col-12{
    text-align: center;
}

.filme_info{
    background-color: #171717;
    padding: 10px;
    height: 80px;
    width: 100%;
    transform: scale(0);
}

.filme_info .col-12{
    margin-top: 5px;
}

.filme_info .col12:first-child{
    margin-bottom: 20px;
}

.filme_info p{
    color: #7E7B7B;
    font-size: 12px;
}

section{
    margin-bottom: -100px;
    position: relative;
    width: 100%;
}

section:hover{
    z-index: 9;
}