main {
  background-color: #eee;
  display: flex;
  background-image: url(../img/bgmovies.jpg);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formContainer {
  background-color: #212529;
  border: 0px solid white;
  padding: 40px 50px;
  margin-top: 20vh;
  border-radius: 4%;
  margin-bottom: 10%;
}

.logo {
  width: 200px;
  height: auto;
}

body {
  background-color: #0e1b2b;
}

.labels {
  margin-left: 33%;
}

.remember,
.remember a {
  margin-top: 10%;
  margin-left: 15%;
}

.btn-outline-light {
  margin-left: 30%;
  margin-top: 10%;
}

a{
  text-decoration: none;
  color:#fff;
}



* {
  scrollbar-width: thin;
  scrollbar-color: #0e1b2b #171717;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #171717;
}

*::-webkit-scrollbar-thumb {
  background-color: #0e1b2b;
  border-radius: 10px;
  border: 1px outset #ffffff;
}
