html, body {
    height: 100%;
    width: 100%;
}

header {
    height: 10%;
}


.container-imagem {
    height: 1080px;
    width: 1920px;    
    /* adicionando imagem de fundo */
    background: url('./img/resiliaflixfundo.jpg');    
    background-repeat: no-repeat;
    /* background-size: cover; */ 
    
}

.menuImagem {
    display: flex;
    justify-content: center; 
    text-align: center;     
    position: absolute;
    top: 40%;
    left: 35%;
    padding: 10px 50px;
    border-radius: 10px;   
    width: 30%;
    height: 30%;
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.767))   
    
    
}


#btnImagem{
    border-top-width: 0px ;
    margin-top: 25px;
    background-color: #4D194D;
    color: cornsilk;
}

#btnImagem:hover {    
    transform: scale(1.2) ;
}

#btnImagem:active{
    background:transparent;
    /* border:none; */
    /* outline:none; */
}



#btnImagem {
    border: 2px solid transparent;
    border-radius: 100px;
    font-weight: 700;
    letter-spacing: .2em;
    padding: .55em 1.5em .5em;
    text-transform: uppercase;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

#btnImagem {
    display: inline-block;
    font-weight: 400;
    /* color: cornsilk; */
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 10px;
    
}

#tituloImagemFundo, #subtituloImagemFundo {
    color: #ffffff;
}

